<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %> <input type="checkbox" name="collection_ids[]" value="<%= movie.id %>" />
  </p>

  <%= movie.description %>

  <p>
    <strong>Movie length:</strong>
    <%= movie.movie_length %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

</div>
