<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
  <% if @movies.present? %>
    <%= form_for :movies, url: "/movies/destroy_multiple", method: :delete do |f| %> 
      <ul>
        <% @movies.each do |page| %>
          <li> <%= page.title %> <input type="checkbox" name="collection_ids[]" value="<%= page.id %>" /> </li>
        <% end %>
      </ul>
      <%= f.submit "Delete selected" %>
    <% end %>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
