<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <% if @movies.present? %>
    <%= form_for :movies, url: "/movies/destroy_multiple", method: :delete do |f| %> 
      <ul>
        <% @movies.each do |movie| %>
          <%= render movie %>
          <p>
            <%= link_to "Show this movie", movie %>
          </p>
        <% end %>
        <% if current_user && current_user.role == "admin" %>
          <%= f.submit "Delete selected" %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<% if current_user && current_user.role == "moderater" %>
  <%= link_to "New movie", new_movie_path %>
<% end %>
