<p style="color: green"><%= notice %></p>

<% if @movie.pictures.any? %>
    Pictures:
    <ul>
      <% @movie.pictures.each do |picture| %>
        <% picture.pictures.each do |p| %>
          <%= image_tag(p) %>
        <% end %>
      <% end %>
    </ul>
<% end %>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>


<h2>Reviews</h2>
<%= render @movie.reviews %>


<h2>Add a review:</h2>
<%= render 'reviews/form', 
    post: @movie, 
    comment: @movie.reviews.build,
    submit_label: "Reply" %>

