<%= form_with(model: [post, comment]) do |form| %>
    <div class = "form-control">
        <%= form.label :rating %><br>
        <%= form.number_field :rating %><br>
        <%= form.label :review %><br>
        <%= form.rich_text_area :review %><br>
        <%= form.submit submit_label, class: "btn btn-primary mt-1" %>
    </div>
<% end %>
    